.large-hero_BRAD {
  position: relative;
  color: green;
}

.large-hero__text-content_BRAD {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
}

.large-hero {
  /* something to come */
}

.large-hero__text-content {
  /* something to come */
}
