/* How Brad achieved his relative positioning */

.large-hero_BRAD {
  position: relative;
}

.large-hero__text-content_BRAD {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
}

.large-hero {
  &__title,
  &__subtitle {
    font-weight: 300;
    color: #2f5572;
    margin: 0;
  }

  &__title {
    font-size: 4.8rem;
  }

  &__subtitle {
    font-size: 2.9rem;
  }

  &__description {
    color: white;
    font-size: 1.875rem;
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0);
    max-width: 480px;
  }
}
